@import "../scss/variables";
@import "../scss/mixin";

.highlighted {
  color: $primary;
}

.highlighted-secondary {
  color: $secondary;
}

ul {
  @include list-reset();
}

.reverse {
  @include flexRow-r();

  div[class*="text-container"] {
    align-items: flex-start;
    p {
      text-align: left;
    }
  }
}
