@import "../scss/variables";
@import "../scss/mixin";

.highlighted {
  color: $primary;
}

.highlighted-secondary {
  color: $secondary;
}

.bold {
  font-weight: 600;
}

ul {
  @include list-reset();
}

.reverse {
  @include flexRow-r();

  div[class*="text-container"] {
    align-items: flex-start;
    p {
      text-align: left;
    }
  }
}

.show-service {
  div[class*="showcase"] {
    div[class*="showcase__imgbox"] {
      transform: translate(0%, 0%);
      opacity: 1;
      transition: all 0.8s ease-out;
    }
  }

  div[class*="textbox"] {
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all 0.8s ease-out;
  }
}

.show-testimonial-elements {
  transform: translate(0%, 0%);
  opacity: 1;
}

.show-testimonial-section {
  transform: translate(0%, 0%);
  opacity: 1;
}

.show-form-section {
  div[class*="section-title-and-description"],
  div[class*="imgbox"] {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.8s ease-out;
  }
}

@media (min-width: 37em) {
  .reverse {
    flex-direction: column !important;

    div[class*="text-container"] {
      align-items: stretch;

      p {
        text-align: unset;
      }
    }
  }
}
