@import "../scss/variables";
@import "../scss/mixin";

.highlighted {
  color: $primary;
}

.highlighted-secondary {
  color: $secondary;
}

.bold {
  font-weight: 600;
}

ul {
  @include list-reset();
}

.reverse {
  @include flexRow-r();

  div[class*="text-container"] {
    align-items: flex-start;
    p {
      text-align: left;
    }
  }
}

.show {
  div[class*="showcase"] {
    div[class*="showcase__imgbox"] {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  div[class*="textbox"] {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
