@import "../../scss/variables";
@import "../../scss/mixin";

.mobile-footer {
  background-color: $primary;
  padding: 0rem 0rem 3rem;

  &__address-part {
    margin-bottom: 3rem;
    @include bg-cover-center();
    padding: 2rem;
  }

  &__address-part > div {
    width: 72.5%;
  }

  &__top {
    margin-bottom: 5rem;
    padding: 0 2rem;

    &__links {
      @include flexColumn();
      gap: 3rem;
    }
  }

  &__bottom {
    padding: 0 2rem;
    &__image-buttons {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 4rem;
    }

    &__buttons {
      div[class*="link-group"] {
        margin-bottom: 4rem;
        ul[class*="link-group__list"] {
          gap: 2rem !important;

          a:link,
          a:visited {
            color: $white;
            letter-spacing: 0.02rem;
            font-size: 1.4rem;
            font-weight: 500;
          }

          a:hover,
          a:active {
            color: $white;
          }
        }
      }
    }

    &__copyright-info--details {
      color: $white;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
    }
  }
}
