@import "../../scss/variables";
@import "../../scss/mixin";

.no-content {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__message-box {
    width: 80%;
    padding: 2.5rem;
    box-shadow: 0rem 0rem 4rem rgba(black, 0.2);
    position: relative;

    &__message {
      font-size: 1.5rem;
      letter-spacing: 0.02rem;
      line-height: 1.5;
      margin-bottom: 2.5rem;
    }

    &__button {
      &:link,
      &:visited {
        text-decoration: none;
        display: inline-block;
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: 500;
        background-color: black;
        color: white;
        padding: 1.5rem;
        position: relative;
        transition: all 0.3s;
        border: 1px solid transparent;
      }

      &:hover {
        background-color: transparent;
        transition: all 0.3s;
        color: black;
        border: 1px solid black;
      }
    }
  }
}

@media (min-width: 62em) {
  .no-content {
    height: 55rem;

    &__message-box {
      width: 70%;
      padding: 3rem;
      box-shadow: 0rem 0rem 4rem rgba(black, 0.2);

      &__message {
        font-size: 1.7rem;

        line-height: 1.6;
        margin-bottom: 3rem;
      }
    }
  }
}
