@import "../../scss/variables";
@import "../../scss/mixin";

.plain-description-box {
  width: 100%;
  height: 100%;
  background-color: $white;

  &__description {
    font-size: 1.45rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    font-family: inherit;
    padding: 0 2.5rem;
    color: $gray;
  }
}

@media (min-width: 64em) {
  .plain-description-box {
    // margin-bottom: 4rem !important;
    &__description {
      font-size: 1.6rem !important;
      line-height: 1.45 !important;
      font-weight: 300 !important;
    }
  }
}
