@import "../../scss/variables";
@import "../../scss/mixin";

.form-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/22;

  padding: 2.5rem;

  &__imgbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat !important;
    background-position: 50% 100% !important;
    background-size: cover !important;
    padding: 2rem;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    backdrop-filter: blur(
      0px
    ); // because the blur filter of form element extends beyond the clipped path
  }

  &__form {
    width: 100%;
    height: 100%;
    background-color: rgba($darkText, 0.85);
    backdrop-filter: blur(0.2rem);
    clip-path: inherit !important;
    overflow: hidden !important;
    position: relative;
    // transition: $basic;

    label {
      span {
        font-size: 1.5rem;
      }

      p[class*="error"] {
        color: $white;
      }

      input {
        font-size: 1.4rem !important;

        &::placeholder {
          font-size: 1.4rem !important;
        }
      }

      select {
        font-size: 1.4rem !important;
      }
    }

    &__basic-information,
    &__additional-information,
    &__success-message {
      @include flexColumn();
      width: 100%;
      height: 100%;
      position: absolute;
      gap: 2rem;
      top: 0;
      left: 0;
      padding: 5.5rem 3rem;
    }

    &__submit-button {
      margin-top: 1.5rem !important;
      button {
        &:hover,
        &:active {
          background-color: $secondary;
          transition: $basic;
        }
      }
    }

    &__success-message {
      gap: 0 !important;
      color: $white;
      align-items: center;

      &__checkbox {
        margin-bottom: 2.5rem;
      }

      &__heading {
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 2rem;
      }

      &__details {
        font-size: 1.45rem;
        line-height: 1.4;
        letter-spacing: 0.02rem;
        font-weight: 400;
        margin-bottom: 2.5rem;
      }
    }
  }
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s 0.2s;
}

.hidden {
  opacity: 0;
  visibility: collapse;
  transition: all 0.2s;
}

.final-background {
  backdrop-filter: blur(1rem) !important;
  transition: all 0.4s;
}

@media (max-width: 24em) {
  .form-container {
    aspect-ratio: 16/23.7;
  }
}

@media (min-width: 27em) {
  .form-container {
    aspect-ratio: 16/19.7 !important;
  }
}
@media (min-width: 30em) {
  .form-container {
    aspect-ratio: 16/17.7 !important;

    &__form {
      &__basic-information,
      &__additional-information,
      &__success-message {
        padding: 5.5rem 4rem;
      }
    }
  }
}

@media (min-width: 37em) {
  .form-container {
    aspect-ratio: 16/15 !important;

    &__form {
      label {
        span {
          font-size: 1.7rem;
        }

        input::placeholder {
          font-size: 1.5rem !important;
        }

        p[class*="error"],
        p[class*="success"] {
          font-size: 1.5rem !important;
        }
      }
    }
  }
}

@media (min-width: 45em) {
  .form-container {
    aspect-ratio: 16/12.3 !important;
  }
}

@media (min-width: 48em) {
  .form-container {
    aspect-ratio: 16/11.5 !important;
    @include flexRow();
    align-items: center;
    gap: 2.5rem;
    position: static;
    width: 100%;

    padding: 0;

    backdrop-filter: unset;

    .section-title-and-description {
      flex-basis: 50%;
      transform: translateX(-15%);
      opacity: 0;
    }

    &__imgbox {
      flex-basis: 50%;
      position: static;
      top: unset;
      left: unset;
      transform: translateX(15%);
      opacity: 0;
    }

    &__form {
      &__basic-information,
      &__additional-information,
      &__success-message {
        padding: 5.5rem 3rem;
      }

      label {
        span {
          font-size: 1.5rem;
          font-weight: 400;
        }

        input {
          font-size: 1.4rem !important;

          &::placeholder {
            font-size: 1.4rem !important;
          }
        }

        select {
          font-size: 1.4rem !important;
        }

        p[class*="error"] {
          font-size: 1.4rem !important;
        }
      }

      &__success-message {
        &__checkbox {
          margin-bottom: 3rem;
        }

        &__details {
          font-size: 1.45rem;
          line-height: 1.5;
          font-weight: 400 !important;
          letter-spacing: 0.02rem;
        }
      }
    }
  }
}

@media (min-width: 50em) {
  .form-container {
    aspect-ratio: 16/10.6 !important;
  }
}

@media (min-width: 62em) {
  .form-container {
    aspect-ratio: 16/8.5 !important;
    gap: 5rem;

    &__imgbox {
      background-position: 0% 80% !important;
    }
  }
}

@media (min-width: 64em) {
  .form-container {
    aspect-ratio: 16/8.5 !important;
    justify-content: space-evenly;
    gap: 2rem;

    .section-title-and-description {
      flex-basis: 50% !important;
    }

    &__form {
      &__basic-information,
      &__additional-information,
      &__success-message {
        padding: 5rem 3rem;
      }
    }

    &__imgbox {
      padding: 2.5rem;
      flex-basis: 50%;
      height: 100%;
      background-position: 0% 50% !important;
    }
  }
}
@media (min-width: 65em) {
  .form-container {
    aspect-ratio: 16/8.3 !important;
  }
}
@media (min-width: 77em) {
  .form-container {
    aspect-ratio: 16/6.7 !important;
    gap: 8rem !important;
    justify-content: space-between;

    &__imgbox {
      clip-path: polygon(0 7.5%, 100% 0, 100% 92.5%, 0% 100%) !important;
      flex-basis: 45%;
    }

    &__form {
      clip-path: inherit !important;

      &__basic-information,
      &__additional-information,
      &__success-message {
        padding: 7rem 3rem;
      }
    }
  }
}
