.login-signup-main {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
  z-index: 1001;
  background-color: #222222;
  padding: 3rem;
  visibility: collapse;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .login-signup-main__open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .login-signup-main__close-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5rem; }
  .login-signup-main__form-heading {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    letter-spacing: 0.02rem; }
  .login-signup-main__form__inputs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem; }
    .login-signup-main__form__inputs-container label {
      font-size: 1.4rem; }
      .login-signup-main__form__inputs-container label p[class*="inputbox-container__error"] {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.4; }
      .login-signup-main__form__inputs-container label span {
        font-weight: 500;
        margin-bottom: 1rem; }
  .login-signup-main__form__switch-button-container {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.2rem; }
    .login-signup-main__form__switch-button-container button {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-color: transparent;
      background: none;
      border: none;
      line-height: 1;
      display: inline-block;
      font-family: inherit;
      color: #0099a8;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.02rem; }
      .login-signup-main__form__switch-button-container button:focus {
        outline-color: green !important; }
  .login-signup-main__form__submit-button button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    background: none;
    border: none;
    line-height: 1;
    display: inline-block;
    font-family: inherit;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.95); }
    .login-signup-main__form__submit-button button:focus {
      outline-color: green !important; }
    .login-signup-main__form__submit-button button:hover, .login-signup-main__form__submit-button button:active {
      color: rgba(34, 34, 34, 0.95);
      background-color: #fff; }
  .login-signup-main__success__success-message-and-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media (min-width: 37em) {
  .login-signup-main {
    width: 50rem; } }

/*# sourceMappingURL=LoginSignup.module.css.map */