@import "../../scss/variables";
@import "../../scss/mixin";

.login-signup-main {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  z-index: 1001;
  background-color: rgba($darkText, 1);

  padding: 0 3rem 3rem;
  visibility: collapse;
  opacity: 0;

  transition: $basic;

  &__open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__close-icon-container {
    @include flexRow();
    justify-content: flex-end;
    margin: 2.5rem 0 2.5rem;
  }

  &__form-heading {
    color: $white;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 3rem;
    letter-spacing: 0.02rem;
  }

  &__form {
    &__inputs-container {
      @include flexColumn();
      gap: 2rem;
      margin-bottom: 2rem;

      label {
        font-size: 1.4rem;

        p[class*="inputbox-container__error"] {
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.4;
          // color: $white;
        }

        span {
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }
    }

    &__switch-button-container {
      margin-bottom: 3rem;
      @include flexColumn();
      align-items: flex-start;
      gap: 1.2rem;

      button {
        @include button-reset();
        color: $secondary;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
      }
    }

    &__submit-button {
      button {
        @include button-reset();
        border: 1px solid $white;
        @include invertColorsButtons($white, rgba($darkText, 0.95));
      }
    }
  }
}
