@import "../../scss/variables";
@import "../../scss/mixin";

.success-checkmark-container {
  width: 5rem;
  padding: 0.75rem;
  aspect-ratio: 16/16;
  border-radius: 50%;
  overflow: hidden;
  background-color: $success;
  @include flex-all-center();

  img {
    display: block;
    width: 100%;
  }
}
