@import "../../scss/variables";
@import "../../scss/mixin";

.inputbox-container {
  width: 100%;

  label {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    color: $white;
    letter-spacing: 0.05rem;
    font-weight: 500;
  }

  span[class*="highlighted-secondary"] {
    font-size: 2rem;
  }

  &__error {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    color: $error;
    font-weight: 400;
    margin-top: 1rem;
  }

  &__success {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    color: $white;
    font-weight: 400;
    margin-top: 1rem;
  }

  &__label {
    margin-bottom: 1.2rem;
  }

  input,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  &__input {
    display: block;
    border: none;
    background-image: none;
    background-color: $white;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    color: $darkText;
    letter-spacing: 0.02rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0.7;
    transition: $basic;

    &::placeholder {
      color: $gray;
      font-size: 1.3rem;
    }

    &:focus {
      outline-color: green;
      opacity: 1;
    }
  }
}
