.inputbox-container {
  width: 100%; }
  .inputbox-container label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.05rem;
    font-weight: 500; }
  .inputbox-container span[class*="highlighted-secondary"] {
    font-size: 2rem; }
  .inputbox-container__error {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    color: #ff2e2e;
    font-weight: 400;
    margin-top: 1rem; }
  .inputbox-container__success {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    color: #fff;
    font-weight: 400;
    margin-top: 1rem; }
  .inputbox-container__label {
    margin-bottom: 1.2rem; }
  .inputbox-container input,
  .inputbox-container input[type="text"],
  .inputbox-container input[type="email"],
  .inputbox-container input[type="tel"], .inputbox-container__input {
    display: block;
    border: none;
    background-image: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    color: #222222;
    letter-spacing: 0.02rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .inputbox-container input::-webkit-input-placeholder,
    .inputbox-container input[type="text"]::-webkit-input-placeholder,
    .inputbox-container input[type="email"]::-webkit-input-placeholder,
    .inputbox-container input[type="tel"]::-webkit-input-placeholder, .inputbox-container__input::-webkit-input-placeholder {
      color: gray;
      font-size: 1.3rem; }
    .inputbox-container input:-ms-input-placeholder,
    .inputbox-container input[type="text"]:-ms-input-placeholder,
    .inputbox-container input[type="email"]:-ms-input-placeholder,
    .inputbox-container input[type="tel"]:-ms-input-placeholder, .inputbox-container__input:-ms-input-placeholder {
      color: gray;
      font-size: 1.3rem; }
    .inputbox-container input::-ms-input-placeholder,
    .inputbox-container input[type="text"]::-ms-input-placeholder,
    .inputbox-container input[type="email"]::-ms-input-placeholder,
    .inputbox-container input[type="tel"]::-ms-input-placeholder, .inputbox-container__input::-ms-input-placeholder {
      color: gray;
      font-size: 1.3rem; }
    .inputbox-container input::placeholder,
    .inputbox-container input[type="text"]::placeholder,
    .inputbox-container input[type="email"]::placeholder,
    .inputbox-container input[type="tel"]::placeholder, .inputbox-container__input::placeholder {
      color: gray;
      font-size: 1.3rem; }
    .inputbox-container input:focus,
    .inputbox-container input[type="text"]:focus,
    .inputbox-container input[type="email"]:focus,
    .inputbox-container input[type="tel"]:focus, .inputbox-container__input:focus {
      outline: none;
      opacity: 1; }

/*# sourceMappingURL=InputBox.module.css.map */