@import "../../scss/variables";
@import "../../scss/mixin";

.subscribe-mailing-list-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: $sectionMargin;
  @include flexColumn();
  align-items: center;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    aspect-ratio: 16/16;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 50%;
    border: 0.7rem solid white;
    transform: translate(-20%, -20%);
  }

  &__textbox {
    width: 100%;
    background-color: $primary;
    padding-bottom: 3rem;
    @include flexColumn();

    &__heading {
      font-size: 3rem;
      width: 70%;
      color: $white;
      padding: 2rem 1.25rem 2rem 0.75rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 1rem;
      margin-left: auto;
    }

    &__details {
      font-size: 1.7rem;
      line-height: 1.3;
      letter-spacing: 0.02rem;
      color: $white;
      padding: 0 2.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    form {
      padding: 0 2.5rem;

      div[class*="inputbox-container"] {
        margin-bottom: 3rem;

        p[class*="inputbox-container__error"] {
          color: $white;
        }
      }

      input {
        background-color: $white !important;
        color: $primary !important;
        opacity: 0.7;

        &:focus {
          opacity: 1;
        }

        &::placeholder {
          color: $primary !important;
        }
      }

      div[class*="submit-button"] {
        @include flexRow();
        justify-content: center;

        button {
          border: 0.1rem solid $white;

          &:active {
            background-color: $white;
            color: $primary;
          }

          &:disabled:active {
            background-color: transparent;
          }
        }
      }
    }
  }
}
