@import "../../scss/variables";
@import "../../scss/mixin";

//390px styles

.industry-expert {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

  &__heading-and-description,
  &__image-descriptions {
    @include flexColumn();
  }

  &__heading-and-description {
    div[class*="plain-description-box"] {
      flex-basis: 40rem; //working as height here
      width: 60%;
      background-color: $primary;

      p[class*="plain-description-box__description"] {
        padding-top: 2.5rem;
        color: $white;
      }
    }
  }

  &__image-descriptions {
    padding: 0 2.5rem;
    position: relative;
    top: -23rem; // positioning the element above its top element
    margin-bottom: -23rem; //negative margin to keep the whitespace in balance

    div[class*="container"] {
      height: 37.5rem;
    }
  }
}

.our-services {
  margin-bottom: $sectionMargin;

  &__services {
    @include flexColumn();
  }

  div[class*="showcase__imgbox"] {
    box-shadow: 0 0 1.5rem rgba($darkText, 0.2);
  }

  div[class*="plain-description-box"] {
    margin-bottom: 3rem;
  }

  div[class*="textbox"] {
    width: 72%;
    padding: 0 2.5rem;
    margin: 2.5rem auto;
    border-inline: 1px solid $veryLightGray;
  }

  h3[class*="heading"] {
    font-size: 2rem;
  }

  p[class*="description"] {
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.45rem;
    color: darken($gray, 10%);
    letter-spacing: 0.02rem;
  }

  ul {
    display: none !important;
    color: lighten($darkText, 25%);
  }
}

.testimonial {
  margin-bottom: $sectionMargin;

  div[class*="plain-description-box"] {
    margin-bottom: 3rem;
    letter-spacing: 0.02rem !important;
  }
}

.form-section {
  margin-bottom: 6rem;

  div[class*="plain-description-box"] {
    margin-bottom: 1rem;
    letter-spacing: 0.04rem !important;
  }
}

.subscribe-mailing-list {
  margin-bottom: 6rem;
}

@media (min-width: 37em) {
  .desktop-center {
    // make the plain description box centered and also center align the text inside it.
    width: 55rem !important;
    margin: 0 auto;
    text-align: center;
  }

  .industry-expert {
    &__heading-and-description {
      div[class*="section-title-box"] {
        align-self: flex-start;

        h2[class*="section-title"] {
          margin: 0 0 2.5rem 2.5rem;
          text-align: left !important;
          &::before {
            left: 0;
            transform: translateX(0%);
          }
        }
      }
    }
  }

  .testimonial {
    width: 100%;
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(5rem);
    transition: all 0.4s ease-out;

    div[class*="plain-description-box"] {
      margin-bottom: 5rem;
    }

    &__all-testimonials {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      row-gap: 5rem;
    }
  }
}

@media (min-width: 48em) {
  .industry-expert {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    width: 80%;
    margin-left: auto;

    &__heading-and-description,
    &__image-descriptions {
      @include flexRow();
    }

    &__heading-and-description {
      div[class*="section-title-box"] {
        flex-basis: 50%;
        align-self: flex-start;
        justify-content: left;

        h2[class*="section-title"] {
          margin: 0 0 2.5rem;
          text-align: left !important;
          &::before {
            left: 0;
            transform: translateX(0%);
          }
        }
      }

      & > div[class*="plain-description-box"] {
        flex-basis: 50%;
        align-self: stretch;

        p[class*="plain-description-box__description"] {
          padding: 3.5rem;
          width: 80%;
        }
      }
    }

    &__image-descriptions {
      padding: 0;
      position: static;
      margin-bottom: initial;

      div[class*="container"] {
        height: initial;
      }

      div[class*="darkbutton"] {
        a:link,
        a:visited {
          background-color: $darkText;
        }
      }
    }

    &__image-descriptions > div[class*="container"] {
      height: 30rem;
    }
  }

  .our-services {
    overflow-x: hidden;

    &__service-container {
      margin: 0;
      padding: 0 3rem;
      @include flexRow();
      align-items: center;
      gap: 3rem;

      div[class*="showcase"] {
        flex-basis: 50%;

        div[class*="showcase__imgbox"] {
          box-shadow: 0 0 2rem rgba($darkText, 0.2);
          transform: translateX(-10%);
          opacity: 0;
          transition: all 0.8s ease-out;
        }
      }

      div[class*="textbox"] {
        padding: 0;
        margin: 0;
        flex-basis: 50%;
        width: unset;
        border-inline: none;
        transform: translate(10%, 0%);
        opacity: 0;
        transition: all 0.8s ease-out;
      }

      h3[class*="heading"] {
        font-size: 2.5rem;
        font-weight: 500 !important;
        line-height: 1;
        margin-bottom: 1.5rem;
        color: $darkText;
      }

      p[class*="description"] {
        line-height: 1.4;
        font-weight: 300;
        font-size: 1.45rem;
        margin-bottom: 1.5rem;
        color: $darkText;
      }

      ul {
        display: flex !important ;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2.5rem;

        li {
          font-size: 1.45rem;
          font-weight: 400;
          color: $darkText;
          text-transform: capitalize;
        }
      }
    }

    &__service-container-reverse {
      flex-direction: row-reverse;

      div[class*="showcase"] {
        div[class*="showcase__imgbox"] {
          transform: translateX(10%);
        }
      }

      div[class*="textbox"] {
        opacity: 0;
        transform: translate(-10%, 0%);
        left: initial;
      }
    }
  }

  .testimonial {
    max-width: 80rem; // because there needs to be 2 rem of padding on both side, can't do it with margin because margin auto is centering the element
    padding: 0 5rem;
    margin: 0 auto $sectionMargin;

    &__all-testimonials {
      gap: 5rem;
    }
  }
}

@media (min-width: 62em) {
  .our-services {
    &__service-container {
      position: relative;
      display: block;
      padding: 0;
      gap: 0;
      max-width: 120rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 5rem;

      div[class*="showcase"] {
        flex-basis: 50%;
        aspect-ratio: 16/8;

        div[class*="showcase__imgbox"] {
          box-shadow: 0 0 2rem rgba($darkText, 0.2);
          transform: translateX(-10%);
          opacity: 0;
          transition: all 0.8s ease-out;
        }
      }

      div[class*="textbox"] {
        flex-basis: 50%;
        padding: 2.5rem;
        margin: 0;
        border-inline: none;
        left: 3rem;
        transform: translate(10%, 0%);
        opacity: 0;
        transition: all 0.8s ease-out;
      }

      h3[class*="heading"] {
        font-size: 3rem;
        font-weight: 500 !important;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        color: $darkText;
      }

      p[class*="description"] {
        line-height: 1.5;
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        color: $darkText;
      }

      ul {
        display: flex !important ;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;

        li {
          font-size: 1.5rem;
          font-weight: 400;
          color: $darkText;
          text-transform: capitalize;
        }
      }
    }

    &__service-container-reverse {
      flex-direction: row-reverse;

      div[class*="showcase"] {
        div[class*="showcase__imgbox"] {
          transform: translateX(10%);
        }
      }

      div[class*="textbox"] {
        opacity: 0;
        transform: translate(-10%, 0%);
        right: 3rem !important;
        left: initial;
      }
    }
  }
}

@media (min-width: 64em) {
  .testimonial {
    max-width: 124rem;
    // margin: 0 auto;
    padding: 0 2rem;
    &__all-testimonials {
      gap: 2rem;
      row-gap: 4rem;
    }
  }
}
