@import "../../scss/variables";
@import "../../scss/mixin";

.home {
  .hero {
    div[class*="textbox"] {
      width: 73%;
    }
  }
}

.industry-expert {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

  &__heading-and-description,
  &__image-descriptions {
    @include flexColumn();
  }

  &__heading-and-description {
    div[class*="plain-description-box"] {
      flex-basis: 40rem;
      width: 60%;
      background-color: $primary;

      p[class*="plain-description-box__description"] {
        padding-top: 2.5rem;
        color: $white;
      }
    }
  }

  &__image-descriptions {
    padding: 0 2.5rem;
    // transform: translateY(-20rem);

    position: relative;
    top: -23rem;
    margin-bottom: -23rem;

    div[class*="container"] {
      height: 37.5rem;
    }
  }
}

.our-services {
  &__services {
    @include flexColumn();
    gap: 1rem;
  }

  div[class*="showcase__imgbox"] {
    box-shadow: 0 0 1.5rem rgba($darkText, 0.2);
  }

  div[class*="plain-description-box"] {
    margin-bottom: 2.5rem;
  }

  div[class*="textbox"] {
    width: 72%;
    padding: 0 2.5rem;
    margin: 2.5rem auto;
    border-inline: 1px solid $veryLightGray;

    h3[class*="heading"] {
      font-size: 2.2rem;
    }
  }

  p[class*="description"] {
    line-height: 1.4;
    font-weight: 300;
    font-size: 1.6rem;
    color: darken($gray, 50%);
    letter-spacing: 0.04rem;
  }

  ul {
    display: none !important;
  }
}
