@import "../../scss/variables";
@import "../../scss/mixin";

.home {
  .hero {
    div[class*="textbox"] {
      width: 73%;
    }
  }
}

.industry-expert {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

  &__heading-and-description,
  &__image-descriptions {
    @include flexColumn();
  }

  &__heading-and-description {
    div[class*="plain-description-box"] {
      flex-basis: 40rem;
      width: 60%;
      background-color: $primary;

      p[class*="plain-description-box__description"] {
        padding-top: 2.5rem;
        color: $white;
      }
    }
  }

  &__image-descriptions {
    padding: 0 2.5rem;
    // transform: translateY(-20rem);

    position: relative;
    top: -23rem;
    margin-bottom: -23rem;

    div[class*="container"] {
      height: 37.5rem;
    }
  }
}
