@import "../../scss/variables";
@import "../../scss/mixin";

.submit-button {
  button {
    @include button-reset();
    color: $white;
    font-size: 1.45rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: all 0.2s;
    background-color: $primary;
  }

  button:disabled {
    opacity: 0.5;
    background-color: inherit;
  }

  &__button:active {
    background-color: darken($primary, 10%);
  }
}
