@import "../../../scss/variables";
@import "../../../scss/mixin";

.solid-white-navbar {
  background-color: $white !important;
  box-shadow: 0 2rem 4rem rgba($darkText, 0.1) !important;

  .mobile-nav__brand-and-toggles {
    a[class*="brand-name"] {
      &:link,
      &:visited {
        color: $darkText;
      }
    }
  }
}

.mobile-nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: $basic;

  &__brand-and-toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75rem 2.5rem;

    a[class*="brand-name"] {
      &:link,
      &:visited {
        color: $white;
        text-transform: unset;
        font-weight: 400;
        letter-spacing: 0.3rem;
      }
    }
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 82%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 1000;
    transform: translateX(100%);
    transition: $basic;

    &--open {
      transform: translateX(0%);
    }
  }
}

@media (min-width: 30em) {
  .mobile-nav {
    &__container {
      width: 35rem !important;
    }
  }
}
