@import "../../../scss/variables";
@import "../../../scss/mixin";

.mobile-navigation-innermenu {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(100%);
  background-color: rgba($primary, 0.9);
  backdrop-filter: blur(1rem);
  padding-inline: 3.5rem;
  transition: $basic;

  &__closelisticon-container {
    .closelisticon {
      @include btn-reset();
      margin-left: auto;
      height: 6.5rem;
      @include flex-all-center();
    }

    img {
      display: block;
      height: 2.3rem;
    }
  }

  &__leftcareticon-container {
    padding: 5rem 0 4rem;

    .leftcareticon {
      @include btn-reset;
      display: flex;
      align-items: center;
      font-family: inherit;
      gap: 1.4rem;
      font-size: 1.5rem;
      font-weight: 300 !important;
      color: $white;

      img {
        display: block;
        width: 1.6rem;
        aspect-ratio: 16/16;
      }
    }
  }

  &__list-of-options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3.5rem;

    &__heading,
    &__single-option,
    &__single-option--main-list {
      a:link,
      a:visited {
        text-decoration: none;
        text-transform: capitalize;
      }

      // for <span> css rules see below
      span,
      a:link,
      a:visited {
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 0.18rem;
        text-transform: capitalize;
      }
    }

    &__heading {
      span,
      a:link,
      a:visited {
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: capitalize;
        display: inline-block;
        color: $white;
      }
    }

    &__single-option {
      span,
      a:link,
      a:visited {
        font-size: 1.2rem;
        font-weight: 400 !important;
        color: $white;
      }

      &--main-list {
        span,
        a:link,
        a:visited {
          color: $white;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
    img {
      height: 2rem;
    }
  }
}

.show {
  transform: translateX(0%) !important;
}

.previously-shown {
  transform: translateX(-100%) !important;
}
