.mobile-navigation-innermenu {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(100%);
  background-color: rgba(175, 0, 97, 0.9);
  backdrop-filter: blur(1rem);
  padding-inline: 3.5rem;
  transition: all 0.2s ease-out;
  font-family: "Roboto", sans-serif !important; }
  .mobile-navigation-innermenu__closelisticon-container .closelisticon {
    all: unset;
    margin-left: auto;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .mobile-navigation-innermenu__closelisticon-container img {
    display: block;
    height: 2.3rem; }
  .mobile-navigation-innermenu__leftcareticon-container {
    padding: 5rem 0 4rem; }
    .mobile-navigation-innermenu__leftcareticon-container .leftcareticon {
      all: unset;
      display: flex;
      align-items: center;
      font-family: inherit;
      gap: 1.4rem;
      font-size: 1.5rem;
      font-weight: 300 !important;
      color: #fff; }
      .mobile-navigation-innermenu__leftcareticon-container .leftcareticon img {
        display: block;
        width: 1.6rem;
        aspect-ratio: 16/16; }
  .mobile-navigation-innermenu__list-of-options {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3.5rem; }
    .mobile-navigation-innermenu__list-of-options__heading a:link,
    .mobile-navigation-innermenu__list-of-options__heading a:visited, .mobile-navigation-innermenu__list-of-options__single-option a:link,
    .mobile-navigation-innermenu__list-of-options__single-option a:visited, .mobile-navigation-innermenu__list-of-options__single-option--main-list a:link,
    .mobile-navigation-innermenu__list-of-options__single-option--main-list a:visited {
      text-decoration: none;
      text-transform: capitalize; }
    .mobile-navigation-innermenu__list-of-options__heading span,
    .mobile-navigation-innermenu__list-of-options__heading a:link,
    .mobile-navigation-innermenu__list-of-options__heading a:visited, .mobile-navigation-innermenu__list-of-options__single-option span,
    .mobile-navigation-innermenu__list-of-options__single-option a:link,
    .mobile-navigation-innermenu__list-of-options__single-option a:visited, .mobile-navigation-innermenu__list-of-options__single-option--main-list span,
    .mobile-navigation-innermenu__list-of-options__single-option--main-list a:link,
    .mobile-navigation-innermenu__list-of-options__single-option--main-list a:visited {
      display: flex;
      align-items: center;
      justify-content: space-between;
      letter-spacing: 0.18rem;
      text-transform: capitalize; }
    .mobile-navigation-innermenu__list-of-options__heading span,
    .mobile-navigation-innermenu__list-of-options__heading a:link,
    .mobile-navigation-innermenu__list-of-options__heading a:visited {
      font-size: 2.4rem;
      font-weight: 500;
      text-transform: capitalize;
      display: inline-block;
      color: #fff; }
    .mobile-navigation-innermenu__list-of-options__single-option span,
    .mobile-navigation-innermenu__list-of-options__single-option a:link,
    .mobile-navigation-innermenu__list-of-options__single-option a:visited {
      font-size: 1.2rem;
      font-weight: 300 !important;
      color: #fff; }
    .mobile-navigation-innermenu__list-of-options__single-option--main-list span,
    .mobile-navigation-innermenu__list-of-options__single-option--main-list a:link,
    .mobile-navigation-innermenu__list-of-options__single-option--main-list a:visited {
      color: #fff;
      font-size: 2rem;
      font-weight: 400; }
    .mobile-navigation-innermenu__list-of-options img {
      height: 2rem; }

.show {
  transform: translateX(0%) !important; }

.previously-shown {
  transform: translateX(-100%) !important; }

/*# sourceMappingURL=MobileNavigationInnerMenu.module.css.map */
