@import "../../scss/variables";
@import "../../scss/mixin";

.brand-name {
  &:link,
  &:visited {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
}
