@import "../../scss/variables";
@import "../../scss/mixin";

.testimonial {
  @include flexRow();
  margin-bottom: 4rem;

  &__img {
    flex-basis: 38%;
    aspect-ratio: 16/25;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    flex-shrink: 0 !important;
  }

  &__text-container {
    @include flexColumn();
    align-items: flex-end;

    &__one-liner {
      padding: 1rem;
      font-size: 2rem;
      font-weight: 500;
      color: $secondary;
    }

    &__details {
      font-size: 1.5rem;
      color: $white;
      background-color: $primary;
      width: 100%;
      padding: 1.5rem;
      padding-bottom: 2rem;
      line-height: 1.25;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    &__person-name {
      padding: 1rem;
      font-size: 1.6rem;
      color: $darkText;
      font-weight: 400;
      letter-spacing: 0.02rem;
    }
  }
}
