@import "../../scss/variables";
@import "../../scss/mixin";

.showcase {
  display: block;
  width: 100% !important;
  aspect-ratio: 16/8.5;

  .showcase__imgbox {
    display: block;
    width: 100% !important;
    height: 100%;
  }
}

// @media (max-width: 480px) {
//   .showcase {
//     [class*="section__title"] {
//       text-align: center;
//     }
//   }
// }
