@import "../../scss/variables";
@import "../../scss/mixin";

.showcase {
  display: block;
  aspect-ratio: 16/8.5;

  .showcase__imgbox {
    display: block;
    width: 100% !important;
    height: 100%;
  }
}
