//color
$primary: #af0061;
$secondary: #0099a8;
$darkText: #222222;
$white: #fff;
$black: #000;
$backdropColor: rgba(17, 17, 17, 0.36);
$veryLightGray: #ddd;
$gray: darken($white, 50%);
$success: #008000;
$error: #ff2e2e;

//margins and paddings
$sectionMargin: 5rem;

//font family
$poppins: "Poppins", sans-serif;

//animation
$basic: all 0.2s ease-out;
